<div class="notice ancenc-notice" style="">
    <div class="ancenc-notice-logo"><span></span></div>
    <div class="ancenc-notice-message wp-ancenc-existing">
        <strong>Thanks for updating Smush!</strong>
        Did you know she has secret super powers? Yes, she can super-ancenc images for double the savings, store
        original images, bulk ancenc thousands of images in one go, and serve 'em up in a next-gen format(WebP) with
        one-click via her blazing-fast CDN. Get started with a free WPMU DEV trial to access these advanced features.
    </div>
    <div class="ancenc-notice-cta">
        <a href="#"
           class="ancenc-notice-act button-primary" target="_blank">
            Try Smush Pro Free </a>
        <button class="ancenc-notice-dismiss ancenc-dismiss-welcome" data-msg="Saving">
            Dismiss
        </button>
    </div>
</div>