<div id="ancenc-box-pro-features" class="ancenc-pro-features ancenc-box">

    <div class="ancenc-box-header">

        <h3 class="ancenc-box-title">
            Upgrade to Smush Pro <span class="ancenc-tag ancenc-tag-pro">Pro</span>
        </h3>
    </div><!-- end ancenc-box-title -->

    <div class="ancenc-box-body">

        <ul class="ancenc-pro-features">

            <div class="ancenc-pro-features-header">
                <div>
                    <h2>Optimize unlimited images with Smush Pro</h2>
                    <p class="ancenc-description">Get Smush Pro and bulk optimize every image you’ve ever
                        added to your site with one-click and fix your Google PageSpeed with the best image
                        optimizer WordPress has ever known. Upgrade to unlock all Pro features today!</p>
                    <div>
                        <a href="#"
                           target="_blank" class="ancenc-button ancenc-button-purple">
                            Try Pro for Free </a>
                        <div>
                            <button role="button"
                                    class="ancenc-button ancenc-button-ghost ancenc-button-purple"
                                    id="wistia-play-button">
                                Watch Video
                            </button>
                            <small>less than 2 minutes</small>
                        </div>
                    </div>
                </div>


            </div>


        </ul>

        <div class="ancenc-upsell-row">
            <div class="ancenc-notice ancenc-notice-purple ancenc-upsell-notice">
                <div class="ancenc-notice-content">
                    <div class="ancenc-notice-message">
                        <p>
                            Smush Pro gives you all these extra settings and absolutely no limits on
                            ancencing your images. Did we mention Smush Pro also gives you up to 2x better
                            compression too? Try it all free with a WPMU DEV membership today! </p>
                        <p>
                            <a href="#"
                               class="ancenc-button ancenc-button-purple" target="_blank">
                                Learn More </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end box_content_class -->


</div><!-- end box-pro-features -->