
<!--  <div id="ancenc-box-summary" class="ancenc-summary ancenc-box ancenc-summary ancenc-summary-ancenc">


     <div class="ancenc-summary-image-space" aria-hidden="true"></div>

     <div class="ancenc-summary-segment">
         <div class="ancenc-summary-details">
     <span class="ancenc-summary-large wp-ancenc-stats-human">
         0.0		</span>

             <span class="ancenc-summary-detail wp-ancenc-savings">
         <span class="wp-ancenc-stats-human">B</span> /
         <span class="wp-ancenc-stats-percent">0</span>%
     </span>
             <span class="ancenc-summary-sub">
         Total Savings		</span>
             <span class="ancenced-items-count">
         <span class="wp-ancenc-count-total">
             <span class="ancenc-summary-detail wp-ancenc-total-optimised">
                 0				</span>
             <span class="ancenc-summary-sub">
                 Images Smushed				</span>
         </span>
                 </span>
         </div>
     </div>

     <div class="ancenc-summary-segment">
         <ul class="ancenc-list ancenc-stats-list">
             <li class="ancenc-resize-savings">
         <span class="ancenc-list-label">
             Image Resize Savings									<p
                 class="wp-ancenc-stats-label-message ancenc-hidden-sm ancenc-hidden-md ancenc-hidden-lg">
                     Save a ton of space by not storing over-sized images on your server. <a role="button"
                                                                                             class="wp-ancenc-resize-enable"
                                                                                             href="#">Enable image resizing</a>					</p>
                         </span>
                 <span class="ancenc-list-detail wp-ancenc-stats">
                                 <a role="button" class="ancenc-hidden-xs wp-ancenc-resize-enable" href="#">
                     Resize images					</a>
                         </span>
             </li>
             <li class="ancenc-dir-savings">
         <span class="ancenc-list-label">Directory Smush Savings									<p
                 class="wp-ancenc-stats-label-message ancenc-hidden-sm ancenc-hidden-md ancenc-hidden-lg">
                     Smush images that aren't located in your uploads folder.						<a
                 href="#"
                 class="wp-ancenc-dir-link" title="Select a directory you'd like to Smush.">
                         Choose directory						</a>
                 </p>
                         </span>
                 <span class="wp-ancenc-stats ancenc-list-detail">
             <span class="wp-ancenc-stats-human"></span>
             <span class="wp-ancenc-stats-sep ancenc-hidden">/</span>
             <span class="wp-ancenc-stats-percent"></span>
             <a href="#"
                class="wp-ancenc-dir-link ancenc-hidden-xs" title="Select a directory you'd like to Smush.">
                 Choose directory				</a>
         </span>
             </li>
         </ul>
     </div>


 </div>end box-summary -->